*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: #B91450;
}

#Biglietto{
  display: none;
}

.flex{
  display: flex;
}

.text-center{
  text-align: center;
}


h1{
  font-size: 32px;
  margin: 10px 0;
  text-transform: uppercase;
}

.round{
  border-radius: 10px;
  box-shadow: 2px black;
}

.card, .ticket-card{
  width: 80%;
  height: 200px;
  margin: auto;
  margin-bottom: 20px;
  background-color: white;
}

.row{
  justify-content: space-around;
  align-items: center;
}

.button-row{
  justify-content: center;
}

.ticket-row{
  justify-content: space-around;
}

.Ticket-Name{
  width: 30%;
}

.Ticket-Info{
  width: 70%;
  justify-content: space-around;
}
